@model Games

<form method="post">
    <div class="border-bottom p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Game</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="GameName"></label>
            <input asp-for="GameName" class="form-control" />
            <span asp-validation-for="GameName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="GameGenre"></label>
            <input asp-for="GameGenre" class="form-control" />
            <span asp-validation-for="GameGenre" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ScoreValue"></label>
            <input asp-for="ScoreValue" class="form-control" />
            <span asp-validation-for="ScoreValue" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Add</button>
        <a asp-controller="Games" asp-action="Index" class="btn btn-primary" style="width:150px">Back to List</a>
    </div>

</form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
