@model Review
@{
    ViewData["Title"] = "Add Review";
}
<h1 class="m-3">Add Review to a Game.</h1>

<form method="post">
    <div class="mb-3">
        <label asp-for="GameName"></label>
        <input asp-for="GameName" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="GameDescription"></label>
        <input asp-for="GameDescription" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="ScoreValue"></label>
        <input asp-for="ScoreValue" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="ReviewText"></label>
        <input asp-for="ReviewText" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
    <a asp-controller="Review" asp-action="Index" class="btn btn-primary" style="width:150px">Back to List</a>
</form>
