<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/style.css" />

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <script src="./script.js" defer></script>
    <title>GameView</title>
</head>
<body>
    <div class="main-page">
        <div class="ONCONSTRUCTION">

        </div>
        <div class="onSaleSection">
            <div class="onSaleTitle">Best Deals This Weekend</div>
            <div class="onSaleList">
                <ul>
                    <li>
                        <div class="gameTitle">

                            <a href="https://www.g2a.com/assassins-creed-valhalla-dawn-of-ragnarok-pc-ubisoft-connect-key-europe-i10000301460004" target="_blank">
                                Assassin's Creed Valhalla: Dawn of Ragnarök (PC) - Ubisoft Connect Key - EUROPE
                            </a>
                            <div class="gameInfo">
                                <div class="releaseDate">Release Date: Mar 10, 2022</div>
                                <div class="studio">Developed by: <a href="https://en.wikipedia.org/wiki/Ubisoft">Ubisoft</a> </div>
                                <div class="platforms">Platforms: PC, PlayStation4, Xbox One, Xbox SeriesX</div>
                            </div>
                        </div>
                        <a href="https://www.g2a.com/assassins-creed-valhalla-dawn-of-ragnarok-pc-ubisoft-connect-key-europe-i10000301460004" 
                        target="_blank"><img src="./OnSaleGamesImages/assasinscreedvalhala.webp"alt="Assassin's Creed Game Image" align="left"></a>
                        <p class="gameDescription">
                            In a stunning world of Norse Myth, invaders of frost and flame threaten the fate of the Nine 
                            Realms. The dwarven kingdom of Svartalfheim is crumbling, and amidst the chaos, Odin’s beloved son, 
                            Baldr, has been taken prisoner by the immortal fire giant, Surtr. In Assassin’s Creed Valhalla: 
                            Dawn of Ragnarök, the most ambitious expansion in franchise history, Eivor must embrace their 
                            destiny as Odin, the Norse god of Battle and Wisdom. Unleash new divine powers as you embark on 
                            a desperate quest through a breathtaking world. Complete a legendary Viking saga and save your 
                            son in the face of the gods’ doom.
                        </p>
                        <div class="price">
                            <div class="newPrice">
                                <a href="https://www.g2a.com/assassins-creed-valhalla-dawn-of-ragnarok-pc-ubisoft-connect-key-europe-i10000301460004" 
                        target="_blank">NEW PRICE: 168.36 RON</a>
                            </div>
                            <div class="oldPrice">
                                <a href="https://www.g2a.com/assassins-creed-valhalla-dawn-of-ragnarok-pc-ubisoft-connect-key-europe-i10000301460004" 
                        target="_blank">247.45 RON</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gameTitle">

                            <a href="https://www.g2a.com/dark-souls-iii-deluxe-edition-steam-key-global-i10000014305007" target="_blank">
                                Dark Souls III Deluxe Edition (PC) - Steam Key - GLOBAL
                            </a>
                            <div class="gameInfo">
                                <div class="releaseDate">Release Date: Apr 12, 2016</div>
                                <div class="studio">Developed by: <a href="https://en.wikipedia.org/wiki/List_of_Bandai_Namco_video_games">Bandai Namco Games</a> </div>
                                <div class="platforms">Platforms: PC, PlayStation4, Xbox One</div>
                            </div>
                        </div>
                        <a href="https://www.g2a.com/dark-souls-iii-deluxe-edition-steam-key-global-i10000014305007" 
                        target="_blank"><img src="./OnSaleGamesImages/darksouls3.webp"alt="Dark Souls 3 Deluxe Edition Game Image" align="left"></a>
                        <p class="gameDescription">
                            Developed by Japanese developer FromSoftware, DARK SOULS III is the latest chapter in the DARK 
                            SOULS series with its trademark sword and sorcery combat and rewarding action RPG gameplay. 
                            Players travel across a wide variety of locations in an interconnected world of unrelenting 
                            challenge and deep RPG gameplay as they search for a way to survive the coming apocalypse.
                        </p>
                        <div class="price">
                            <div class="newPrice">
                                <a href="https://www.g2a.com/assassins-creed-valhalla-dawn-of-ragnarok-pc-ubisoft-connect-key-europe-i10000301460004" 
                        target="_blank">NEW PRICE: 142.00 RON</a>
                            </div>
                            <div class="oldPrice">
                                <a href="https://www.g2a.com/assassins-creed-valhalla-dawn-of-ragnarok-pc-ubisoft-connect-key-europe-i10000301460004" 
                        target="_blank">297 RON</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gameTitle">

                            <a href="https://www.g2a.com/dark-souls-iii-deluxe-edition-steam-key-global-i10000014305007" target="_blank">
                                Elden Ring (PC) - Steam Key - EMEA
                            </a>
                            <div class="gameInfo">
                                <div class="releaseDate">Release Date: Feb 25, 2022</div>
                                <div class="studio">Developed by: <a href="https://en.wikipedia.org/wiki/List_of_Bandai_Namco_video_games">Bandai Namco Games</a> </div>
                                <div class="platforms">Platforms: PC, PlayStation4, PlayStation5, Xbox One, Xbox Series X</div>
                            </div>
                        </div>
                        <a href="https://www.g2a.com/elden-ring-pc-steam-key-emea-i10000273674026" 
                        target="_blank"><img src="./OnSaleGamesImages//eldenrings.webp"alt="Elden Ring Game Image" align="left"></a>
                        <p class="gameDescription">
                            A New World Created By Hidetaka Miyazaki And George R. R. Martin. ELDEN RING, developed by 
                            FromSoftware, Inc. and BANDAI NAMCO Entertainment Inc., is a fantasy action-RPG adventure set 
                            within a world created by Hidetaka Miyazaki creator of the influential DARK SOULS video game 
                            series; and George R.R. Martin author of The New York Times best-selling fantasy series, A Song 
                            of Ice and Fire. Danger and discovery lurk around every corner in FromSoftware's largest game 
                            to-date.
                        </p>
                        <div class="price">
                            <div class="newPrice">
                                <a href="https://www.g2a.com/assassins-creed-valhalla-dawn-of-ragnarok-pc-ubisoft-connect-key-europe-i10000301460004" 
                        target="_blank">NEW PRICE: 244.58 RON</a>
                            </div>
                            <div class="oldPrice">
                                <a href="https://www.g2a.com/assassins-creed-valhalla-dawn-of-ragnarok-pc-ubisoft-connect-key-europe-i10000301460004" 
                        target="_blank">297 RON</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="gameTitle">

                            <a href="https://www.g2a.com/dark-souls-iii-deluxe-edition-steam-key-global-i10000014305007" target="_blank">
                                NBA 2K22 (PC) - Steam Key - GLOBAL
                            </a>
                            <div class="gameInfo">
                                <div class="releaseDate">Release Date: Sept 10, 2021</div>
                                <div class="studio">Developed by: <a href="https://en.wikipedia.org/wiki/2K_(company)">2K Games</a> </div>
                                <div class="platforms">Platforms: PC, PlayStation4, PlayStation5, Xbox One, Xbox Series X</div>
                            </div>
                        </div>
                        <a href="https://www.g2a.com/nba-2k22-pc-steam-key-global-i10000263366002" 
                        target="_blank"><img src="./OnSaleGamesImages/nba2k22.webp"alt="Elden Ring Game Image" align="left"></a>
                        <p class="gameDescription">
                            Enjoy competitive gameplay, online features, and a variety of game modes, including myCAREER, 
                            as you put together your dream team in this basketball video game. A WORLD OF BASKETBALL. NBA 2K22 
                            puts the entire basketball universe in your hands. PLAY NOW in real NBA and WNBA environments against 
                            authentic teams and players. Build your own dream team in MyTEAM with today’s stars and yesterday’s 
                            legends. Live out your own pro journey in MyCAREER and experience your personal rise to the NBA. 
                            Flex your management skills as a powerful Executive in MyGM and MyLEAGUE. Anyone, anywhere can hoop in 
                            NBA 2K22.
                        </p>
                        <div class="price">
                            <div class="newPrice">
                                <a href="https://www.g2a.com/assassins-creed-valhalla-dawn-of-ragnarok-pc-ubisoft-connect-key-europe-i10000301460004" 
                        target="_blank">NEW PRICE: 121.14 RON</a>
                            </div>
                            <div class="oldPrice">
                                <a href="https://www.g2a.com/assassins-creed-valhalla-dawn-of-ragnarok-pc-ubisoft-connect-key-europe-i10000301460004" 
                        target="_blank">297 RON</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="essential-links">
            <div class="essentialTitle">Essential Links</div> 
            <div class="essentialLinksList">
                <ul>
                    <li>
                        <a href="https://www.bafta.org/games/awards/2022-nominations-winners" target="_blank">Video Game Awards</a>
                    </li>
                    <li>
                        <a href="https://www.metacritic.com/pictures/2022-game-publisher-rankings" target="_blank">2022 Game Publisher Rankings</a>
                    </li>
                    <li>
                        <a href="https://www.metacritic.com/feature/steam-deck-hardware-review" target="_blank">Hardware Review:Steam Deck</a>
                    </li>
                    <li>
                        <a href="https://www.metacritic.com/pictures/worst-video-games-of-2021" target="_blank">Worst Games Of 2021</a>
                    </li>
                </ul>
            </div>
        </div>


        

    </div>
    
</body>
</html>

<style>
        /* 
        COLOR PALLETTE:
        1. #264653 - ALBASTRU INCHIS
        2. #2a9d8f - TURCOAZ
        3. #e9c46a - GALBEN
        4. #f4a261 - CREM
        5. #e76f51 - PORTOCALIU

    */

  

    *{
        box-sizing: border-box;
    }

    body{
        margin: 0;
        padding: 0;
        background-color: #e9c46a;
    }



    /* ================================================================================
                                    Navigation Bar 
       ================================================================================*/


    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #264653;
        color: #e9c46a;
        font-family: 'Fredoka', sans-serif;
    }

    .brand-title{
        font-size: 2rem;
        margin: .5rem;
    }

    .navbar-links ul{
        margin: 0;
        padding: 0;
        display: flex;
    }

    .navbar-links li{
        list-style: none;
    }

    .navbar-links li a{
        text-decoration: none;
        color: #e9c46a;
        padding: 1.25rem;
        display: block;
    }

    .navbar-links li:hover{
        background-color: #2D5261;
    }

    .toggle-button{
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .toggle-button .bar{
        height: 3px;
        width: 100%;
        background-color: #e9c46a;
        border-radius: 10px;
    }


    .main-page{
        display: flex;
        justify-content: space-between;
    }


    /* ================================================================================
                                    Essential Links
       ================================================================================*/


    .essential-links{
        display: flex;
        flex-direction: column;
        font-family: Montserrat, Helvetica, sans-serif;
        border: 2px solid #e76f51;
        margin: 2% 2%;
        height: 240px;
        padding-bottom: 4rem;
        width: 300px;
    }

    .essentialTitle,
    .onSaleTitle{
        background-color: #e76f51;
        font-weight: 600;
        font-size: 1.5rem;
        padding: 0.5%;
        color: #e9c46a;
    }
    .essentialLinksList{
        font-weight: 500;
        font-size: 14px;
    }
    .essential-links li,
    .onSaleList li{
        list-style: none;
        padding-left: 10px;
        padding-top: 12px;
    }
    .essential-links li a,
    .onSaleList li a{
        text-decoration: none;
        color: #e76f51;
    }
    .essentialLinksList ul,
    .onSaleList ul{
        margin: 0;
        padding: 0;
        display: block;
    }
    .essentialLinksList li a:hover,
    .onSaleList li a:hover{
        color: #264653;
    
    }


    /* ================================================================================
                                    Best Deals
       ================================================================================*/


    .onSaleSection{
        border: 2px solid #e76f51;
        width: 750px;
        height: auto;
        margin: 2% 2%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #27469C;
    }
    .gameTitle{
        font-size: 18px;
        font-weight: 900;
        padding-bottom: 12px;
    }
    .gameInfo{
        display: block;
        font-size: 12px;
        font-weight: 400;
        display: flex;
        gap: 1rem;
    }
    .gameDescription{
        font-size: 14px;
    }
    .price{
        display: flex;
        padding: 2rem;
        flex-direction: column;
        align-items: flex-end;
    }
    .newPrice{
        font-size: 18px;
        font-weight: 600;
    }
    .oldPrice{
        font-size: 12px;
        font-weight: 300;
        text-decoration: line-through;
    }




    /* ================================================================================
                                    News Section
       ================================================================================*/
    #newsPage{
        background-color: #e9c46a;
    }
    .last-news{
        font-family: Montserrat, Helvetica, sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        color: #27469C;
        border-bottom: 2px solid #f4a261;
        padding-top: 2rem;
        padding-left: 2rem;
        margin-bottom: 2%;
    }
    div .col{
        display: flex;
    }
    .newsTitle{
        margin-left: 10px;
        font-family: "Open Sans", Helvetica, sans-serif;
        font-weight: 800;
    }
    .news{
        border-right: 2px solid #f4a261;
    }
    .image{
        padding: 0;
        margin: 0;
    }
    .pb-3 {
        padding: $spacer !important;
    }

</style>